<body class="mt-0">
    <section class="login-content">
      <div class="login-content-lt"></div>
      <div class="login-content-rt">
        <div class="login-box" style="height: 100vh;">
          <form class="login-form" [formGroup]="changepasswordForm">
            <div class="logo-wrapper">
              <img src="../../../assets/images/logo.svg" alt="Rishabh Software">
              <span>Meal Facility</span>
            </div>
            <h3 class="login-head" style="margin-bottom: 5px;">Change Your Password</h3>
            <p class="login-text">Enter your credentials to change your password.</p>
  
            <div class="form-group" style="width: auto;">
              <mat-form-field appearance="fill" style="border-style: none; height: auto; width: 500px;">
                <mat-label>Old Password</mat-label>
                <input matInput placeholder="Old Password" type="password" id="oldPassword" formControlName="oldPassword" [type]="hideOld ? 'password' : 'text'">
                <mat-error *ngIf="changepasswordForm.get('oldPassword').hasError('required')">Old Password Is Required!</mat-error>
                <button mat-icon-button matSuffix (click)="hideOld = !hideOld" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideOld" style="height: auto; margin: auto;">
                  <mat-icon>{{hideOld ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </div>
  
            <div class="form-group">
              <mat-form-field appearance="fill" style="border-style: none; height: auto; width: 500px;">
                <mat-label>New Password</mat-label>
                <input matInput placeholder="New Password" type="password" id="newPassword" formControlName="newPassword" [type]="hideNew ? 'password' : 'text'">
                <mat-error *ngIf="changepasswordForm.get('newPassword').hasError('required')">New Password Is Required!</mat-error>
                <mat-error *ngIf="changepasswordForm.get('newPassword').hasError('pattern')">Password Should Contain 8 Characters, 1 Lowercase, 1 Uppercase, 1 Number, and 1 Special character</mat-error>
                <button mat-icon-button matSuffix (click)="hideNew = !hideNew" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNew" style="height: auto; margin: auto;">
                  <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </div>
  
            <div class="form-group">
              <mat-form-field appearance="fill" style="border-style: none; height: auto; width: 500px;">
                <mat-label>Confirm New Password</mat-label>
                <input matInput placeholder="Confirm New Password" type="password" id="confirmNewPassword" formControlName="confirmNewPassword" [type]="hideConfirm ? 'password' : 'text'">
                <mat-error *ngIf="changepasswordForm.get('confirmNewPassword').hasError('required')">Please confirm your new password</mat-error>
                <mat-error *ngIf="changepasswordForm.get('confirmNewPassword').hasError('passwordMismatch')">Passwords do not match!</mat-error>
                <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirm" style="height: auto; margin: auto;">
                  <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </div>
  
            <div class="form-group">
              <button mat-raised-button color="primary" (click)="changePassword()">Change Password</button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </body>
  
